*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.logo{
    margin-top: 30px; 
    cursor: pointer;
}

.navbar-brand{
    margin-top: 30px;
    margin-left: 44.66px;
font-weight: 600;
font-family: 'inter';
font-size: 16px;
background-color: #F4F7FF;
width: 172px;
text-align: center;
color: gray;
transition: 1s;
cursor: pointer;
}
.navbar-brand:hover{
    background-color: blue;
    color: white!important;
}
.nav-item{
    margin-left: 17.5px;
}
.nav-link{
    margin-top: 30px;
    font-weight: 600!important;
font-family: 'inter';
font-size: 16px;
color: black!important;
cursor: pointer;
transition: 0.5s;
}
.nav-link:hover{
    opacity: 70%;
   color: blue!important;
}
.active{
    color: blue!important;
}
.nav_icons{
    margin-left: 24px;
}
.icons{
    margin-top: 30px; 
    margin-right: 12px;
    cursor: pointer;
    transition: 0.5s;
}
.icons:hover{
   border-bottom: 1px solid black;
}
.s_icons{
    margin-left: -14px;
}
.section{
    margin-top: 31px;
}
.carousel-inner{
    background-color: #F4F7FF;
    display: flex;
    align-items: center;
    
}
.carousel-pages {
    display: flex; 
}
.carousel-texts{
    width: 570px;
}
#poto{
    width: 272px!important;
    height: 396px!important;
   margin-left: 179px;
   margin-top: 81px;
   margin-bottom: 83px;
}
.carousel-texts p {
    font-size: 18px;
    font-family: 'inter';
    font-weight: 500px;
    margin-top: 147px;
}
.carousel-texts h2{
    font-size: 36px;
    font-family: 'inter';
    font-weight: 700px;
    font-style: bold;
    color: #212B36;
}
.car-p{
    color: #637381!important;
    font-size: 16px!important;
    margin-top: 15px!important;
}
.carousel_btn{
    font-size: 16px;
    font-family: 'inter';
    color: white;
    background-color: #3056D3;
    padding: 10px 30px;
    font-weight: 600px;
    border: none;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 35px;
}
.carousel_btn:hover{
    background-color: aqua;
}
.section_imgs{
   
    display: flex;  
    margin-top: 50px; 
    align-items: center;
   margin-left: -12px;
}
.imgs_cont{
    position: relative;
}
.section_img{
    width: 570px;  
    margin-top: 30px; 
    cursor: pointer;
    transition: 1s;
}
.section_img:hover{
    opacity: 80%;
}
.simg{
    margin-right: 30px;
    
}
.simg_p{
    position: absolute;
    top: 120px;
    left: 40px;
    font-weight: 600;
    font-family: 'inter';
    font-size: 16px;
    text-transform: capitalize;
}
.simg_h{
    position: absolute;
    top: 156px;
    left: 40px;
    font-weight: 600;
    font-family: 'inter';
    font-size: 28px;
    width: 362px;
}
.s_i-f{
    position: relative;   
}
.s_i-f_p{
    position: absolute;
    top: 120px;
    left: 40px;
    top: 70px;
    font-weight: 600;
    font-family: 'inter';
    font-size: 16px; 
}
.s_i-f_h{
    position: absolute;
    left: 40px;
    font-weight: 600;
    font-family: 'inter';
    font-size: 28px;
    width: 362px;
    top: 105px;
}

.s_i_p{
    position: absolute;
   bottom: 166px;
    left: 40px;
    font-weight: 600;
    font-family: 'inter';
    font-size: 16px;    
}
.s_i_h{
    position: absolute;
    bottom: 84px;
    left: 40px;
    font-weight: 600;
    font-family: 'inter';
    font-size: 28px;
    width: 362px;
}
.watch_icon{
    position: absolute;
    right: 58px!important;
    top: 55px;
}
.main{
    background-color:  #FAFAFA;
    margin-top: 80px;
}
.main_title{
    padding-top: 120px;
    text-align: center;
    font-family: 'itali';
    font-size: 40px;
    font-weight: 700;
    cursor: pointer;
}
.main_p{
    margin-top: 15px;
    text-align: center;
    font-family: 'itali';
    font-size: 16px;
    font-weight: 500;
    width: 490px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.main_cont{
    margin-top: 70px; 
}
.main_img{
    margin-left: -10px; 
    cursor: pointer;
    transition: 0.5s;
}
.main_img:hover{
    opacity: 50%;
}
.coll{
    border: 1px solid #E7E7E7;
    height: 193px!important;
}
.col-lg-4 h5{
    font-family: 'inter';
    font-size: 20px;
    font-weight: 600;
    margin-top: 25px;
    margin-left: 25px;
}
.col-lg-4 p{
    font-family: 'inter';
    font-size: 16px;
    font-weight: 500;
    margin-top: 15px;
    margin-left: 25px;
    margin-right: 25px;
}
.main_col-div{
    border-top: 1px solid #E7E7E7;
    display: flex;
    margin-bottom: 18px;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
    margin-top: 25px;
    margin-bottom: 15px;
}
.stars{
    width: 108px;
    height: 18px; 
    margin-left: -9px!important; 
    cursor: pointer;
}
.col-div_p{
    font-family: 'inter';
    font-size: 16px;
    font-weight: 500;
    color: gray;
    margin-left: 5px!important;
}
.price{
    font-family: 'inter';
    font-size: 16px!important;
    font-weight: 600!important;
    font-style: bold!important;
    border-left: 2px solid #E7E7E7;
    margin-top: 15px!important;
    margin-bottom: 15px!important;
    cursor: pointer;
}
.Price_review{
    display: flex;
    align-items: center; 
}
.main_svg{
    margin-left: auto!important;
    margin-right: auto!important;
    margin-top: 40px;
    margin-bottom: 120px;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
}
.main_svg:hover{
    background-color: aqua;
}
.products h2{
    margin-top: 120px;
    text-align: center;
    font-family: 'inter';
    font-weight: 700;
    font-size: 40px;
}
.products p{
    margin-top: 15px;
    text-align: center;
    font-family: 'inter';
    font-weight: 500;
    font-size: 16px;
    color: #637381;
    width: 490px;
    margin-left: auto;
    margin-right: auto;
}
.products_list{
    margin-top: 70px;
}
.boxes{
    display: flex;
}
.box{
    border: 1px solid #E7E7E7;
     
}
.box_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box h5{
    margin-top: 24px;
    margin-left: 25px;
    font-family: 'inter';
    font-weight: 600;
    font-size: 20px; 
}
.box h4{
    margin-top: 10px;
    margin-left: 25px;
    font-family: 'inter';
    font-weight: 600;
    font-size: 24px;
}
.box span{
    font-family: 'inter';
    font-weight: 500;
    font-size: 16px;
    color: #637381;
   margin-bottom: 30px;

}
.box_img{
    margin-top: 25px;
    margin-left: 25px;
    margin-right: 25px;
    cursor: pointer;
    transition: 1s;
}
.box_img:hover{
    opacity: 50%;
}
.zzz{
    margin-bottom: 40px;
    margin-left: 25px!important;
}
.reviews_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.staties{
    display: flex;
    margin-top: 70px;
    gap: 30px!important;
}
.staties_card{
   border: 1px solid #E7E7E7;
    border-radius: 5px;   
    cursor: pointer;
    transition: 1s;
}
.staties_card:hover{
    box-shadow: 3px 3px 4px black;
}
.face{
    cursor: pointer;
    transition: 0.5s;
}
.face:hover{
    opacity: 50%;
}
.review{
    margin-top: 30px;
    margin-left: 30px;
}
.card_inside{
    display: flex;
    margin-left: 30px;
    margin-top: 25px;
    margin-bottom: 30px;
}
.spans{
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}

.card_p{
    margin-top: 18px;
    margin-left: 30px!important;
    width: 310px!important;
    font-size: 16px;
    font-family: 'inter';
    font-weight: 400;
    margin-right: 30px!important;
}
.name{
    font-size: 14px;
    font-family: 'inter';
    font-weight: 600;
    width: 96px;
}

.reviews h5{
    margin-top: 120px;
    font-size: 40px;
    font-family: 'inter';
    font-weight: 600;
    text-align: center;
}
.reviews p{
    margin-top: 15px;
    font-size: 16px;
    font-family: 'inter';
    font-weight: 400;
    text-align: center;
    color: 
    #637381;
    width: 770px;
    margin-right: auto;
    margin-left: auto;
}
.staties_icon{
    margin-top: 57px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.blog_h{
    margin-top: 120px;
    font-size: 40px;
    font-family: 'inter';
    font-weight: 600;
    text-align: center;
    margin-top: 127px;
}
.blog_p{
    margin-top: 17px;
    font-size: 16px;
    font-family: 'inter';
    font-weight: 400;
    text-align: center;
    width: 730px;
    margin-right: auto;
    margin-left: auto;
}
.blog_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.blog_boxes{
    margin-top: 70px;
    display: flex;
    gap: 30px;
}
.blog_inside{
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.blog_card_img{
    cursor: pointer;
    transition: 0.5s;
}
.blog_card_img:hover{
    opacity: 60%;
}
.blog_card_title{
    margin-top: 30px;
    font-size: 15px;
    font-family: 'inter';
    font-weight: 400;
    color: #3056D3;
    cursor: pointer;
    
}
.blog_card_p{
    margin-top: 12px;
    width: 370px;
    font-size: 24px;
    font-family: 'inter';
    font-weight: 600;
    cursor: pointer;
}
.blog_span{
    font-size: 14px;
    font-family: 'inter';
    font-weight: 500;
    color: grey;
    margin-left: 12px;
    cursor: pointer;
}
#comment{
    margin-left: 30px;
}
.blog_form{
    display: flex;
    flex-direction: column;
    background-color:  #3056D3;
    width: 370px;
    border-radius: 5px;
}
.inputs_title{
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-family: 'inter';
    font-size: 27px;
    font-weight: 600;
}
.inputs_p{
    margin-left: 67px;
    margin-right: 67px;
    margin-top: 4px;
    text-align: center;
    color: white;
    font-family: 'inter';
    font-size: 16px;
    font-weight: 400;
}
#meil{
    background-color: rgb(130, 162, 219);
    max-width: 280px;
    margin-top: 40px;
    border-radius: 5px;
    border: none;
    outline: none;
    padding: 13px 60px;
    margin-left: auto;
    margin-right: auto;
}
::placeholder{
   text-align: center;
    font-family: 'inter';
    font-size: 15px;
    font-weight: 500;
    color: white;

}
.main_img{
    margin-left: -1px;
}
.submit{
    margin-top: 15px;
    font-family: 'inter';
    background-color: #13C296;
    color: white;
    font-size: 15px;
    font-weight: 500;
    margin-left: auto;
    margin-right: auto;
    border: none;
    padding: 12px 85px;
    cursor: pointer;
    transition: 0.5s;
}
.submit:hover{
    opacity: 50%;
    color: black;
}
.inputs_span{
    margin-top: 24px;
    text-align: center;
    font-family: 'inter';
    font-size: 14px;
    font-weight: 500;
    color: white;
}
.footer{
    margin-top: 120px;
    background-color: #212B36;
    display: flex;
}
.footer_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer_inner{
    display: flex;
}
.contacts{
    display: flex;
    flex-direction: column;
}
.contacts_img{
    margin-top: 100px;
    width: 167.5px;
    color: white!important;
    cursor: pointer;
}
.loc_p{
    margin-top: 37px;
    color: white;
    font-family: 'inter';
    font-size: 18px;
    font-weight: 600;
}
.con_p{
    font-family: 'inter';
    font-size: 16px;
    font-weight: 500;
    color: #CACBCF;
}
.con_p_one{
    margin-top:19px;
    cursor: pointer;
}
.one_span,
.two_span{
    margin-right: 12px;
    margin-left: 0!important;
}
.con_p_two{
    margin-top: 1px;
    width: 279px;
    margin-bottom: 177px;
    cursor: pointer;
      
}
.con_svg{
    margin-right: 15px;
}
.footer_nav{
    margin-left: 94px;
    cursor: pointer;
}
.footer_nav_flexx{
    display: flex;
}

.nav_brand{
    margin-top: 100px;
    margin-bottom: 60px;
    font-family: 'inter';
    font-size: 20px;
    font-weight: 600;
    color: white;
    width: 152px;
    cursor: pointer;
   
}
.footer_nav_list{
    list-style: none;
}
.footer_list_item{
    margin-left: -30px;
    margin-bottom: 12px;
    font-family: 'inter';
    font-size: 16px;
    font-weight: 500;
    color: #CACBCF;

}
.footer_nav_flexx{
    gap: 1%;
}
.footer_form{
    position: relative;
    margin-top: 43px;
}
.list_second{
   margin-right: 40px;
}
.footer_input{
    
    border: none;
    outline: none;
    background-color: #303942;
    width: 309px!important;
    height: 50px!important;
    color: white;
}
.footer_form ::placeholder{
    color:  #CACBCF!important;
    font-family: 'inter';
    font-size: 16px;
    font-weight: 500;
    margin-left: 164px;
   
}
.footer_btn{
    position: absolute;
    right: 10px;
    bottom: 9px;
    padding: 6px 19px;
    font-family: 'inter';
    font-size: 14px;
    font-weight: 500;
    color: white;
    background-color: #3056D3;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
}
.footer_btn:hover{
    opacity: 50%;
}
.bottom{
    background-color:  #2E3842;
}
.bottom_container{
    display: flex;
    align-items: center;
}
.bottom_imagess{
    display: flex;
    align-items: center;
    margin-top: 31px;
    margin-bottom: 31px;
    margin-left: 100px;
    gap: 15px;
    cursor: pointer;
}
.socials{
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 31px;
    margin-bottom: 31px;
    margin-left: 201px;
    gap: 15px;
    right: -35px;
    cursor: pointer;
    transition: 0.5s;
}
.social_img:hover{
    background-color: aqua;
}



.bottom_p{
    font-family: 'inter';
    font-size: 16px;
    font-weight: 500;
    color: gray;
    margin-top: 16px;
    margin-left: -21px;
}
.soc_p{
    font-family: 'inter';
    font-size: 16px;
    font-weight: 500;
    color: white;
    margin-top: 16px;

}





